body {
    background: linear-gradient(to bottom, #4b3a2f, #2a221c);
    color: #f3e8dc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 40px 20px;
    margin: 0;
}

.navbar {
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background: #f3e8dc;
    margin: -40px -20px 30px -20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a {
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
    color:#2a221c;
}

dessert-title {
    text-align: center;
    margin-bottom: 20px;
}

.dessert-image {
    display: block;
    width: 80%;
    max-width: 250px;
    margin: 0 auto 40px;
    border-radius: 12px;
}

.dessert-recipe {
    display: block;
    width: 80%;
    max-width: 200px;
    margin: 0 auto 40px;
    border-radius: 12px;
    height:auto;
}

/* PHONE */
@media (max-width: 550px) {
    .dessert.layout {
        grid-template-columns: 1fr;
    }

    .dessert-image {
        width: 100%;
    }
}