body {
    background: linear-gradient(to bottom, #4b3a2f, #2a221c);
    color: #f3e8dc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 40px 20px;
    margin: 0;
}

.navbar {
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background: #f3e8dc;
    margin: -40px -20px 30px -20px;
    /* gap:calc(40px); */
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
    color: #2a221c;
    font-size: 1.1rem;
    margin: 0 20px;
}

.navbar a:hover{
    opacity: 0.7;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.entree-top-img {
    display:block;
    width: 350px;
    height: auto;
    margin: 15px auto 25px auto;
    border-radius: 10px;
}

.entree-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 40px auto;
    width: 90%;
}

.entree-section {
    background: #2a221c;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.entree-section img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.entree-section h2 {
    color: wheat;
    border-bottom: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

.entree-section ul {
    line-height: 1.6;
    margin-left: 20px;
}

/* Tabelttt */
@media screen and (max-width: 950px) {
    .entree-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}