body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 5;
    padding: 5;
    color: black;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.page-background {
    background-image: url(brown.jpg);
    /* background: linear-gradient(to bottom, #f3e1c7, #c7a27c, #8b5e34); */
    /* background: linear-gradient(to-bottom, #f3e1c7, #c7a27, #8b5e34); */
    background-attachment:fixed;
    color:white;
}

p {
    max-width: 900px;
    margin: 0 auto;
}

.navbar {
    background: whitesmoke;
    padding: 15px 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    justify-content: space-between;
    backdrop-filter: blur(10px);
    position: sticky;
    z-index: 100;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.navbar a {
    color: #8b4513;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar a:hover {
    color:bisque;
    transform: translateY(-2px);
}

/* 
#dinner {
    text-align: center;
    text-decoration:underline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    max-width: 700px;
    margin: 20px auto;
    text-transform: uppercase;
}
/*  */
#chore {
    text-align: center;
    font-weight: bold;
    padding: 5px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 900px;
    margin: 40px auto;
    backdrop-filter: blur(20px);
    border-radius: 12px;
}

#chore h1 {
    font-size: 38px;
    color: #ffffff;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
}

.recipes-section {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    padding-top: 1px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    backdrop-filter: blur(20px);
}

.recipes-section h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #ffffff;
    padding-bottom: 5px;
}

.recipes-section p {
    margin-left: 20px;
    line-height: 1.7;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bolder;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: center;
}

.recipe-grid a {
    background: whitesmoke;
    padding: 15px;
    text-align: center;
    display: block;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.recipe-card {
    padding: 20px;
    color: #4b2d16;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    text-align:center;
    width: 260px;
    text-decoration: none;
    font: 18px;
    transition: box-shadow 0.2 ease-in;
    display: flex;
    flex-direction: column;
}

.recipe-card:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}


.footer {
    background: rgb(59, 10, 10);
    padding: 0 20px 5px;
    border-top: 2px solid whitesmoke;
    margin-top: 150px;
    text-align: center;
}

.footer p {
    max-width: 1000px;
    font-size: medium;
    margin: auto;
    line-height: 1.6;
}

.footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

header, footer {
    padding: 40px 0;
}

.foot {
    text-align: center;
    background-color: #81180a;
    line-height: 1.6;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 5px 5px 0;
}

.taste-img {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    margin-top: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark-mode .recipes-section {
    border-color: #333;
} */

/* Tablet size */
@media screen and (max-width: 900px) {
    .navbar ul {
        display: flex;
        justify-content: center;
        gap: 20px
    }

    .navbar a {
        font-size: 16px;
    }

    #chore h1 {
        text-align: center;
        font-size: 32px;
    }

    #chore p {
        font-size: 16px;
        text-align: center;
        padding: 0 20px;
        line-height: 1.5;
    }

    .recipe-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        padding: 20px;
    }

    .taste-img {
        width: 100%;
        height:auto;
        border-radius: 12px;
    }

    .recipe-card {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .footer,
    .foot {
        padding: 20px;
        text-align: center;
    }

    .form {
        width: 90%;
        margin: auto;
    }
}